<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>

  <p> Splurty was built by <a target="_blank" href="adrianllamas06/firehoseproject.git">Adrian.</a> A soccer player turned web developer looking to start a new career path.
  </p>
  <br />
  <p>
    I have been playing soccer my whole life and it is automatic. Now I want to turn my web development skills into my life.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefireshoseproject.com/"> here</a>.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'adrian.JPG', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Adrian Llamas</h2>
    <br />
    <p>
    Adrian Llamas is a web developer who loves to play soccer and is newly engaged to Heather Mauck. He loves to play with his dogs and spend time with his friends and family. 
    </p>
  </div>

</div>
